* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.point {
    position: absolute;
    top: 50%;
    left: 50%;
    /* pointer-events: none; */
}

.point .text {
    transform: scale(0, 0);
    transition: transform 0.3s;
    position: absolute;
    top: -30px;
    left: -120px;
    width: 200px;
    padding: 8px 10px;
    border-radius: 8px;
    background: #F3F3F5;
    /* border: 1px solid #ffffff77; */
    color: #1c1c1e;;
    line-height: 1.3em;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    opacity: 1;
    pointer-events: none;
    transform: scale(0, 0);
    transition: transform 0.1s;
}

.point:hover .text {
    opacity: 1;
}

.point.visible .text {
    transform: scale(1, 1);
}